/* src/assets/main.css */
@font-face {
  font-family: 'SF Distant Galaxy';
  src: url('./fonts/SFDistantGalaxy.ttf') format('truetype'); /* Sesuaikan nama file jika beda */
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-sw-dark text-sw-text;
  background-image: url('/images/star-wars-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}
/* Style untuk animasi scroll yang akan kita pakai nanti */
.before-enter {
opacity: 0;
transform: translateY(100px);
transition: all 1s ease-out;
}
.enter {
opacity: 1;
transform: translateY(0px);
}

