
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}



a, button {
  cursor: pointer; /* Bisa diganti dengan ikon lain jika mau */
}
/* Style untuk animasi scroll yang akan kita pakai nanti */
.before-enter {
opacity: 0;
transform: translateY(100px);
transition: all 1s ease-out;
}
.enter {
opacity: 1;
transform: translateY(0px);
}
